@font-face {
    font-family: 'Inter';
    src: url('Inter_font/Inter_18pt-Regular.ttf'),
        url('Inter_font/Inter_18pt-Light.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.nav html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    background-color: white;
    color: black;
    font-family: 'Inter', sans-serif;
    margin: 0;
}


.image {
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
    z-index: 90;
}

.div {
    text-align: center;
}

h1 {
    line-height: 15px;
    font-size: 200px;
    position: relative;
    top: -120px;
    color: black;
    font-family: 'Inter', sans-serif;
    z-index: 100;
}

h2 {
    line-height: 75px;
    font-size: 80px;
    display: block;
    color: black;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.button-container {
    display: flex;
    background-color: white;
    justify-content: center;
}

.button-item {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Inter', sans-serif;
}

.button-item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.button-item:hover {
    border-bottom: 1px solid black;
}

.poster-image {
    width: 400px;
    height: auto;
    position: absolute;
}

#spirited {
    top: 200px;
    left: 200px;
}