* {
    margin: 0;
    padding: 0;
}

html {
    width: 1440px;
    height: 932px;
}

body {
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 250, 230);
    font-family: arial;
}

.wrapper {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

.wrapperlink {
    color: rgb(0, 0, 0);
    background-color: #5a827f00;
    padding: 5px 11px;
    border-style: 2px solid
}

.container video {
    width: 400px;
    height: 270px;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-left: 10%;
}

.info {
    display: flex;
    margin-left: 30%;
    margin-right: 20%;
    text-align: center;
}

.text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: rgb(3, 1, 70);
    text-align: center;
}

.year {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: rgb(203, 60, 141);
    text-align: center;
}

div {
    text-align: center;
}

/* static background image on scroll - NOT WORKING */
.heading {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(https://www.freepik.com/premium-vector/continuous-line-drawing-movie-clapper-board-film-flap-out-line-design_30004181.htm);
    background-attachment: fixed;
}

.heading {
    display: inline-block;
    transform: scale(1);
    transition: transform 0.2s;
}

.heading:hover {
    transform: scale(1.5);
}

h1 {
    font-size: 8em;
    color: rgb(3, 1, 70);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 1.8em;
    padding-bottom: 0.35em;
    text-align: center;
    position: relative;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: rgb(203, 60, 141);
}

h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background: rgb(255, 250, 230);
    animation:
        typewriter 3s ease forwards;
}


@keyframes typewriter {
    to {
        left: 100%;
    }
}

h2 {
    font-size: 4em;
    display: block;
    color: rgb(203, 60, 141);
    margin-top: -20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: rgb(3, 1, 70);
}

h2::before,
h2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h2::before {
    background: rgb(255, 250, 230);
    animation:
        typewriter 3s ease forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

img {
    width: 8%;
    padding-top: 2.5em;
    margin-bottom: 8em;
}

@keyframes .catchphrase {
    padding-top: 7%;
}

.marquee {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 5s linear infinite;
}

.m1 {
    background-color: rgb(203, 60, 141);

}

.m1 {
    font-size: 3em;
    color: rgb(3, 1, 70);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: lighter;
    direction: left;
}

.m2 {
    background-color: rgb(3, 1, 70);
}

.m2 {
    font-size: 3em;
    color: rgb(203, 60, 141);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: lighter;
    direction: right;
}

.p1 {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: rgb(3, 1, 70);
    padding-left: 20%;
    padding-right: 20%;
}

.p2 {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1em;
    color: rgb(3, 1, 70);
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 3;
    grid-row: 1;
}

.four {
    grid-column: 1;
    grid-row: 2;
}

.five {
    grid-column: 2;
    grid-row: 2;
}

.six {
    grid-column: 3;
    grid-row: 2;
}

.seven {
    grid-column: 1;
    grid-row: 3;
}

.eight {
    grid-column: 2;
    grid-row: 3;
}

.nine {
    grid-column: 3;
    grid-row: 3;
}

/* --------> */

@media (max-width: 1000px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        /* Force single column */
        grid-auto-rows: auto;
        /* Allow rows to adjust height automatically */
        align-items: center;
        margin-left: 25%;
    }

    .text {
        text-align: center;
    }

    .container video {
        align-items: center;
    }

    /* Ensure all grid items span the full width */
    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine {
        grid-column: 1;
    }

    /* Optional: You might want to reset or adjust row placements */
    .two {
        grid-row: 2;
    }

    .three {
        grid-row: 3;
    }

    .four {
        grid-row: 4;
    }

    .five {
        grid-row: 5;
    }

    .six {
        grid-row: 6;
    }

    .seven {
        grid-row: 7;
    }

    .eight {
        grid-row: 8;
    }

    .nine {
        grid-row: 9;
    }
}


.text {
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/* --------> */

@media (width <=70%) {
    h1 {
        font-size: 80px;
        color: rgb(3, 1, 70);
        font-family: Arial;
    }

    h2 {
        font-size: 40px;
        display: block;
        color: rgb(3, 1, 70);
        font-family: Arial;
        font-style: italic;
    }

    /* .wrapper div {
        grid-template-columns: 100% 0px 0px;
    } */

    .wrapper {
        grid-column: 1;
        grid-row: auto;
        text-align: center;
    }

    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine {
        grid-column: 1;
    }

    .two {
        grid-row: 2;
    }

    .three {
        grid-row: 3;
    }

    .four {
        grid-row: 4;
    }

    .five {
        grid-row: 5;
    }

    .six {
        grid-row: 6;
    }

    .seven {
        grid-row: 7;
    }

    .eight {
        grid-row: 8;
    }

    .nine {
        grid-row: 9;
    }

}